/* .login page css */
.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url(../images/login.jpg) no-repeat center center/cover;
    height: 100vh;
}

/* CARD */
.login-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    padding: 40px;
    border-radius: 16px;
    width: 400px;
    text-align: center;
    color: white;
    animation: fadeIn 0.6s ease;
    margin: 30px;
    height: 400px;
}

.login-card p {
    font-size: 24px;
}

/* INPUT */
.input-box {
    position: relative;
    margin: 20px 0;
    margin-bottom: 30px;
}


.input-box input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    outline: none;
}

.input-box label {
    position: absolute;
    left: 12px;
    top: 12px;
    color: #555;
    transition: 0.3s;
    pointer-events: none;
}

/* FLOAT LABEL */
.input-box input:focus+label,
.input-box input:valid+label {
    top: -18px;
    font-size: 12px;
    color: #ffffff;
}

/* BUTTON */
button {
    width: 100%;
    padding: 12px;
    background: #2563EB;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #2563EB;
}

/* ERROR */
.error {
    color: #ff4d4d;
    font-size: 14px !important;
    min-height: 20px;
}

/* ANIMATION */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* SHAKE */
.shake {
    animation: shake 0.3s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.signup-text {
    margin-top: 15px;
    font-size: 14px;
    color: #ddd;
}

.signup-text a {
    color: #2563EB;
    text-decoration: none;
    font-weight: 600;
}

.signup-text a:hover {
    text-decoration: underline;
}

/* popup css */
/* BUTTON */
.demo-btn {
    padding: 12px 22px;
    background: #2563EB;
    color: #000000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

/* BACKDROP */
.demo-btn {
    padding: 12px 24px;
    background: linear-gradient(135deg, #00B4FF, #0068D1);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 8px 25px rgba(0, 180, 255, 0.35);
    transition: 0.3s;
}

.demo-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 35px rgba(0, 180, 255, 0.6);
}

/* BACKDROP */
.demo-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);

    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 999;
}

.demo-overlay.active {
    opacity: 1;
    visibility: visible;
}

/* POPUP */
.demo-popup {
    position: fixed;
    top: 0;
    left: -420px;
    width: 380px;
    height: 100vh;

    background: white;
    box-shadow: -10px 0 40px rgba(0, 0, 0, 0.2);

    padding: 20px;
    z-index: 1000;

    transition: 0.4s ease;
    display: flex;
    flex-direction: column;
}

.demo-popup.active {
    left: 0;
}

/* HEADER */
.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.popup-header h3 {
    margin: 0;
    color: #0f172a;
}

.popup-header span {
    font-size: 22px;
    cursor: pointer;
    color: #0f172a;
}

/* FORM */
.demo-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.demo-form input,
.demo-form select,
.demo-form textarea {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #e2e8f0;
    font-size: 14px;
}

.demo-form textarea {
    resize: none;
    height: 80px;
}

/* BUTTON */
.demo-form button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 999px;
    color: white;

    background: linear-gradient(135deg, #0052CC, #5C89CD);
    cursor: pointer;
}

/* SUCCESS MESSAGE */
.success-message {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;

    font-size: 13px;
    text-align: center;

    color: #065f46;
    background: #d1fae5;
    border: 1px solid #6ee7b7;
}

/* SHOW STATE */
.success-message.active {
    display: block;
    animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ERROR */
.error {
    color: #ff4d4d;
    font-size: 13px !important;
    min-height: 18px;
}

/* SUCCESS */
.success {
    color: #2563EB;
    font-weight: bold;
}

/* ANIMATION */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* SHAKE */
.shake {
    animation: shake 0.3s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-6px);
    }

    50% {
        transform: translateX(6px);
    }

    75% {
        transform: translateX(-6px);
    }

    100% {
        transform: translateX(0);
    }
}


/* CARD */
.signup-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url(../images/login.jpg) no-repeat center center/cover;
    height: 100vh;
}

.signup-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    padding: 20px 40px;
    border-radius: 16px;
    width: 400px;
    color: white;
    text-align: center;
    margin: 30px;
    animation: fadeIn 0.6s ease;
}

.signup-card p {
    font-size: 24px;
    margin-top: 0;
}

/* INPUT */
.input-box {
    position: relative;
    margin: 18px 0;
    margin-top: 25px;
}

.input-box input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    outline: none;
}

.input-box label {
    position: absolute;
    left: 12px;
    top: 12px;
    color: #555;
    transition: 0.3s;
    pointer-events: none;
}

/* FLOAT LABEL */
.input-box input:focus+label,
.input-box input:valid+label {
    top: -18px;
    font-size: 12px;
    color: #ffffff;
}

/* TOGGLE */
.toggle {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

/* BUTTON */
button {
    width: 100%;
    padding: 12px;
    background: #2563EB;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #2563EB;
}

/* ERROR */
.error {
    color: #ff4d4d;
    font-size: 14px !important;
    min-height: 20px;
    margin-top: 10px !important;
}

/* LINK */
.login-text {
    margin-top: 15px;
    margin-top: 5px !important;
    font-size: 14px !important;
}

.login-text a {
    color: #2563EB;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

/* ANIMATION */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* SHAKE */
.shake {
    animation: shake 0.3s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}